{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
   @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
  </style>
  <link rel="stylesheet" href="/style.css">
  <meta property="og:locale" content="en_GB">
  {% block extraheaders %}
  <meta property="og:image" content="/clojureberlin.png">
  {% endblock %}
  <title>{% block title %}Clojure Berlin{% endblock %}</title>
  <link rel="icon" href="/clojureberlin.svg" sizes="any" type="image/svg+xml"/>
</head>

<body>
      {% block content %} {% endblock %}
</body>
<script> </script>

</html>
