{% extends "base.html" %}
{% block content %}
<div class="container">
  <header>
    <h1>Past Events</h1>
  </header>

  <main id="main-content">
    <section class="schedule">
      <table class="schedule-grid">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
          </tr>
        </thead>
        <tbody>
        {% for page in section.pages | filter(attribute="extra.status", value="past") | sort(attribute="date") | reverse %}
          <tr>
            <td><time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time></td>
            <td><a href="{{ page.permalink | safe }}">{{ page.title }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
</div>
{% endblock content %}
