{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="header">
    <div class="logo-container">
      <img src="/clojureberlin.svg" alt="Clojure Berlin Logo" class="logo">
      <h1>Clojure Berlin Meetup</h1>
    </div>
  </header>

  <main>
    <section>
      <h2>What?</h2>
      <p>
        Clojure Berlin is a get-together of people interested in Clojure—a Lisp dialect for the JVM. Come and discuss what you're working on, ask questions, and meet other like-minded people.
      </p>
      <p>
        Talks can be about anything, but we are focusing on Clojure related topics.
      </p>
    </section>

    <section class="topics">
      <h3>Potential Talk Topics</h3>
      <ul>
        <li>Compilers, parsers, virtual machines, IDEs, profiling, etc.</li>
        <li>Databases, storage, networking, distributed systems</li>
        <li>Large scale infrastructure, low latency, high availability services</li>
        <li>Formal methods, verification</li>
        <li>Browsers, kernel development, security, etc.</li>
      </ul>
    </section>

    <section class="schedule">
      <h2>Upcoming Events</h2>
      {% set events_section = get_section(path="events/_index.md") %}
      {% if events_section.pages | filter(attribute="extra.status", value="upcoming") %}
        <div class="schedule-grid">
          <div class="schedule-header">Date</div>
          <div class="schedule-header">Event</div>
          {% for page in events_section.pages | filter(attribute="extra.status", value="upcoming") |sort(attribute="date") %}
            <div class="schedule-cell">
              <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
            </div>
            <div class="schedule-cell">
              <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
          {% endfor %}
        </div>
      {% else %}
            <p>No upcoming events scheduled. Check back soon, or write to us on Slack!</p>
      {% endif %}
      <br>
      <div class="past-events-link">
        <a href="/events" class="button secondary">View Past Events</a>
      </div>
    </section>

    <section class="connect">
      <h2>Stay in the loop</h2>
      <div class="connect-links">
        <a href="https://clojurians.slack.com/archives/C067K2KFD" class="button"><span>🗨️ Slack</span></a>
        <a href="/atom.xml" class="button"><span>📡 Atom Feed</span></a>
        <a href="https://lu.ma/clojure.berlin" class="button"><span>✨ lu.ma</span></a>
      </div>
    </section>

    <section class="about">
      <h2>About</h2>
      <p>
      Clojure Berlin is organized by <a href="https://bsky.app/profile/pesterhazy.bsky.social">Paulus Esterhazy</a>, <a href="https://ben.lovell.io/about">Ben Lovell</a>, <a href="https://x.com/_FiV0">Finn Völkel</a>, and <a href="https://www.daveliepmann.com/">Dave Liepmann</a>.
      </p>
    </section>
  </main>

  <footer class="footer">
    <p>Inspired by <a href="https://nycsystems.xyz">nycsystems.xyz</a></p>
  </footer>
</div>
{% endblock content %}
